<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>My main title</h1>
    <h2>My top level heading</h2>
    <h3>My subheading</h3>
    <h4>My sub-subheading</h4>

    <p>This is a single paragraph</p>

    <img src="images/firefox-icon.png" alt="My test image" />

    <p>At Mozilla, we’re a global community of</p>

    <ul>
      <li>technologists</li>
      <li>thinkers</li>
      <li>builders</li>
    </ul>

    <h2>JavaScript Confirm Box</h2>
    <button onclick="myFunction()">Try it</button>
    <p id="demo">This text will change after button click</p>

    <h2>HTML Forms</h2>

    <!-- 
      onsubmit is executed first in order to check the format etc. Then action is executed to get/post the data to the backend.
      if onsubmit function returns false, action is not executed.
    -->
    <form
      name="form1"
      method="post"
      onsubmit="return processFormSubmission();"
      action="/"
    >
      <label for="fname">First name:</label><br />
      <input type="text" id="fname" name="fname" value="John" /><br />
      <label for="lname">Last name:</label><br />
      <input type="text" id="lname" name="lname" value="Doe" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <br />

    <hr>
  

    <h2><%= status %></h1>

    <ul>
      <li>Item one</li>
      <li>Item two</li>
    </ul>  

    <br />

    <ol>
      <li>Item one</li>
      <li>Item two</li>
    </ol>  

      <ul>
        <% if ( typeof(users) =="undefined") { %>
          <li>No data</li> 
        <% } else { %> 
          <% for (let i = 0; i < users.length; i++) { %>
            <li><%= users[i] %> - <%= users[i].Name %> - <%= users[i].Surname %></li>
          <% } %>
         <% } %>
      
      </ul>
      

    <br />

    First Name:
    <p id="form_fname">-</p>
    Last Name:
    <p id="form_lname">-</p>

    <script src="scripts/main.js"></script>
  </body>
</html>
